@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing:border-box ;
}


.open-sans-font {
  font-family: "work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* shared style */
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.display-flex {
  display: flex;
}
.text-primary {
  color: #FF900E;
}
/* dark 02 */
.text-gray {
  color: #424242;
}
/* dark 03 */
.text-light-gray {
  color: #727272;
}

.bg-light {
  background: rgba(255, 144, 14, 0.1);
}
.navber, .banner {
  max-width: 1440px;
  margin: 0 auto;
}

.btn-primary {
  background-color:#FF900E ;
  color: #fff;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}

/* header-section-design */

.navber {
 justify-content: space-between;
 align-items: center;
 padding: 50px 10px;
}
.brand {
font-weight: bold;
font-size: 3rem;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-item a {
  text-decoration: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}


/* banner-section-design */
.banner {
  text-align: center; 
  padding: 10px;
}
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  padding: 10px;
}
.banner-title {
font-weight: bold;
font-size: 4rem;
margin-bottom: 32px;
}
.banner .btn-primary {
  margin-top: 32px;
  margin-bottom: 50px;
}
.banner img {
  width: 100%;
  padding-bottom: 50px;
  border-radius: 8px;
}


/* team-and-feature-relatade design */
.teams {
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

}
.our-team-feauture {
  margin-left: 73px;
  max-width: 530px; 
}
.feature-change {
  color: #FF900E;
}
.feature-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 24px;
}
.text_light {
  font-weight: 500;
}

.our-team-feauture, .btn-primary {
margin-top: 32px;
}

/* responsive media query */
@media screen and (max-width: 576px) {

  main > section {
  margin-top: 60px;
}

 .navber, .nav-links {
  flex-direction: column ;
 }
 .nav-item a { 
  font-size: 14px;
  line-height: 22px;
}

.teams {
  flex-direction: column;
}
.team-img-container {
  grid-template-columns: repeat(1, 1fr);  
  gap: 12px;
}
.our-team-feauture {
  margin-left: 15px;
}
}

/* medium-device-responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .our-team-feauture {
    margin: 50px;
  }
}